@model List<BiliWeb.Models.ResultDataModel>

@{
    ViewData["Title"] = "Index";
}
<div class="crudi-page">

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="ID">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td data-label="Date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td data-label="Name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Read" asp-route-id="@item.ID">Read</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>