
@{
    ViewData["Title"] = "Index";
}

<div class="text-center"><h1>About</h1></div>




<p>




</p>


<div class="container">
    <div class="item">
        <h4>
            Neonatal jaundice is caused by the accumulation of bilirubin in the bloodstream.
            It affects approximately half of all newborns. Typically in high resource areas,
            babies are tested routinely for elevated serum bilirubin. If jaundice is identified
            it is easily treated using blue-light phototherapy. Low-cost effective phototherapy
            lights have been developed in low-resource settings. However, due to lack of diagnostic
            tools to measure bilrubin levels jaundice regularly goes undetected in these settings.
            We offer a low-cost method to measure serum bilirubin level at the point of care in
            low-resource settings.
        </h4>
    </div>
     
</div>


<div class="row">
    <div class="col-4 text-center">
        <img src="~/images/newborn.jpg" class="img-thumbnail" height="200" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Issue">Issue</a>
    </div>
    <div class="col-4 text-center">
        <img src="~/images/testStrip.jpg" class="img-thumbnail" height="150" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Solution">Solution</a>
    </div>
    <div class="col-4 text-center">
        <img src="~/images/donation.png" class="img-thumbnail" height="200" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Needs">What We Need</a>
    </div>
</div>

<p>

</p>







