
@{
    ViewData["Title"] = "Index";
}

<div class="text-center"><h1>About</h1></div>


<div class="row">
    <div class="col-4 text-center"><a asp-action="Issue">Issue</a></div>
    <div class="col-4 text-center"><a asp-action="Solution">Solution</a></div>
    <div class="col-4 text-center"><a asp-action="Needs">What We Need</a></div>
</div>





