
@{
    ViewData["Title"] = "Index";
}

<div class="text-center"><h1>About</h1></div>




<p>




</p>

<div class="row">
    <div class="col-4 text-center">
        <img src="~/images/newborn.jpg" class="img-thumbnail" height="200" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Issue">Issue</a>
    </div>
    <div class="col-4 text-center">
        <img src="~/images/testStrip.jpg" class="img-thumbnail" height="150" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Solution">Solution</a>
    </div>
    <div class="col-4 text-center">
        <img src="~/images/donation.png" class="img-thumbnail" height="200" width="200" alt="Cinque Terre" />
        <p></p>
        <a asp-action="Needs">What We Need</a>
    </div>
</div>





