
@{
    ViewData["Title"] = "Issue";
}

<div class="text-center"><h1>Issue</h1></div>

<body>
    <p>




    </p>

    <div class="row">
        <div class="col-4 text-center">

            <img src="~/images/treatment.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

        <div class="col-4 text-center">
            <img src="~/images/therapy.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

        <div class="col-4 text-center">
            <img src="~/images/pathology.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

    </div>
</body>