
@{
    ViewData["Title"] = "Issue";
}

<div class="text-center"><h1>The Issue</h1></div>

<body>
    <p>




    </p>



    <div class="row">
        <div class="col-4 text-center">

            <img src="~/images/treatment.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

        <div class="col-4 text-center">
            <img src="~/images/therapy.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

        <div class="col-4 text-center">
            <img src="~/images/pathology.jpg" class="img-thumbnail" height="400" width="400" alt="Cinque Terre" />

        </div>

    </div>

    <div class="container">
        <div class="item">
                <h4>
                    Twenty four million newborns develop jaundice every year, a condition in which excess
                    bilirubin accumulates in blood. Preterm babies are especially susceptible because they
                    lack suffecient liver function to excrete excess bilirubin. Untreated jaundice can lead
                    to neurological impairment and death. Neonatal jaundice is easily treated with blue-light
                    therapy, and phototherapy systems have been developed for low-resource settings. There is
                    however no appropriate solution to diagnose and monitor jaundice in these settings.
                    Jaundice is a major contributer to neonatal morbidity and mortality in low-resource
                    settings. Each year 120,000 babies die from jaundice globally and many more suffer permanent
                    neurological damage. Most of these deaths take place in low-income countries in sub-Saharan
                    Africa and South Asia.

                </h4>
            
        </div>

    </div>
</body>