
@{
    ViewData["Title"] = "Solution";
}

<div class="text-center"><h1>The Solution</h1></div>

<div class="container">
    <div class="item">
        <h4>
           Our solution is to develop BiliScan, a low-cost method to detect bilirubin concentration
           in blood. The idea is to replace expensive bioscanner with a smartphone scanner working
           in tandem with our in house software. Blood is collected from the neonate and transferred
           on to a test strip we specifically designed to seperate bilirubin from blood serum. A photo
           is scanned into the smartphone application which detects bilirubin concentration base on 
           color concentration. Using this technology we can detect jaundice at the cost of _____.
        </h4>
    </div>

</div>
