/* Nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url('../fonts/nunito-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/nunito-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/nunito-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/nunito-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/nunito-sans-v4-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* Nunito-sans-300 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v4-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Light'), local('NunitoSans-Light'), url('../fonts/nunito-sans-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/nunito-sans-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/nunito-sans-v4-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/nunito-sans-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/nunito-sans-v4-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Colors */
:root {
    --primary-color: #F97F50;
    --secondary-color: #4F135E;
    --primary-light-color: #FDAF8A;
    --secondry-light-color: #A98198;
    --highlight-color: #99C7EF;
    --text-color: #242424;
    --cat-chart-1: #F97F50;
    --cat-chart-2: #4F135E;
    --cat-chart-3: #99C7EF;
    --cat-chart-4: #FAD173;
    --cat-chart-5: #A3296E;
}

.primary-color {
    color: var(--primary-color);
}

.primary-color-bg {
    background: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.secondary-color-bg {
    background: var(--secondary-color);
}


/* Headers */
h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 2.75rem;
    letter-spacing: .07rem;
    font-weight:bold;
    margin-top: .25em;
}

h2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Nunito Sans Light', sans-serif;
    font-size: 1.25rem;
    font-variant: normal;
}

/* Tables */
th {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td::before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                font-weight: bold;
                color: var(--secondary-color);
            }

            table td:last-child {
                border-bottom: 0;
            }
}

/* Navigation */
.ml-auto .navbar-toggler {
    left: auto !important;
    right: 0px;
}

.dropdown-menu .nav-link:hover {
    background-color: var(--highlight-color);
}

/* CRUDI pages */
.crudi-page {
    margin: 2em;
}
    .crudi-page .attr-name {
        font-weight: bold;
        text-transform: uppercase;
        color: var(--secondary-color);
    }
    .crudi-page .highlight-text {
        color: var(--secondary-color);
    }

@media screen and (max-width: 600px) {
    .crudi-page {
        margin: .5em;
    }
        .crudi-page .form-group {
            font-size: .8em;
        }
}
